<div class="icons">
	<a href ="/"><i class="fa fa-home fa-2x"></i></a>
	<a href ="/Aggregated_Map/"><i class="fa fa-map-marker fa-2x"></i></a>
	<a href ="/Sentiment_Data/"><i class="fa fa-bar-chart fa-2x"></i></a>
    <div class="dropdown">
        <button class="dropbtn">Personalize</button>
        <div class="dropdown-content">
            <a onclick="setBgColor('#379AA4'); setLColor('#48C6D4'); setRColor('#888'); setBtColor('#379AA4');">Original</a>
            <a onclick="setBgColor('#ff3300'); setLColor('#ff5050'); setRColor('#ff6666'); setBtColor('#ff3300');">Red</a>
            <a onclick="setBgColor('#0000cc'); setLColor('#0099ff'); setRColor('#3399ff'); setBtColor('#0000cc');">Blue</a>
            <a onclick="setBgColor('#009933'); setLColor('#00cc44'); setRColor('#00e64d'); setBtColor('#009933');">Green</a>
        </div>
    </div>
</div>