<div class="icons">
	<a href ="/"><i class="fa fa-home fa-2x"></i></a>
	<a href ="/Aggregated_Map/"><i class="fa fa-map-marker fa-2x"></i></a>
	<a href ="/Sentiment_Data/"><i class="fa fa-bar-chart fa-2x"></i></a>
	<div class="dropdown">
        <button class="dropbtn">Personalize</button>
            <div class="dropdown-content">
                <a onclick="setBgColor('teal')">Teal</a>
                <a onclick="setBgColor('red')">Red</a>
                <a onclick="setBgColor('blue')">Blue</a>
                <a onclick="setBgColor('green')">Green</a>
            </div>
    </div>
</div>