<div>
        <script language="JavaScript">

            function createCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime()+(days*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
                }
                else expires = "";
                document.cookie = name+"="+value+expires+"; path=/";
            }

            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
            return null;
            }

            function eraseCookie(name) {
            createCookie(name,"",-1);
            }

            function setRColor(color){
                elem = 'right';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        createCookie('setRColor', color, 365);
                    }
                    //inpt if statement here to read cookie
                }
                return 1;
            }

            function setLColor(color){
                elem = 'left';
                if (elem=document.getElementById(elem)) {
                    if (elem.style) {
                        elem.style.backgroundColor = color;
                        createCookie('setLColor', color, 365);
                    }
                    //input if statement here to read cookie
                }
                return 1;
            }

            function setBgColor(color){
                elem = 'header';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        createCookie('setBgColor', color, 365);
                    }
                    //input if statement here to read cookie
                }
                return 1;
            }

            function setBtColor(color){
                elem = 'footer';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        createCookie('setBtColor', color, 365);
                    }
                    //input if statement here to read cookie

                }
                return 1;
            }

        </script>
</div>