<div>
        <script language="JavaScript">
            function setBgColor(color){
               var elem = 'left';
               if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        
                    }

                }
                elem = 'right';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        
                    }
                }
                elem = 'header';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        
                    }
                }
                return 1;
            }
        </script>
        
</div>
