<div>
        <script language="JavaScript">
            //creates Cookie (Ivan:Cerise)
            function createCookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime()+(days*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
                }
                else expires = "";
                document.cookie = name+"="+value+expires+"; path=/";
            }

            //readsCookie (Ivan:Cerise)
            function readCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
            return null;
            }

            //delete cookie (Ivan:Cerise)
            function eraseCookie(name) {
            createCookie(name,"",-1);
            }

            //onload it reads the cookies saved onto browser for header, footer, left and right colors (Ivan:Cerise)
            window.onload = function(){
                elem_1= 'right';
                elem_2= 'left';
                elem_3= 'header';
                elem_4 = 'footer';

                //right
                if (elem_1=document.getElementById(elem_1)){
                if(readCookie('setRColor')){
                    elem_1.style.backgroundColor = readCookie('setRColor');
                }
               }

                //left
                if (elem_2=document.getElementById(elem_2)){
                if(readCookie('setLColor')){
                    elem_2.style.backgroundColor = readCookie('setLColor');
                }
               }

                //header
                if (elem_3=document.getElementById(elem_3)){
                if(readCookie('setBgColor')){
                    elem_3.style.backgroundColor = readCookie('setBgColor');
                }
               }

                //footer
                if (elem_4=document.getElementById(elem_4)){
                if(readCookie('setBtColor')){
                    elem_4.style.backgroundColor = readCookie('setBtColor');
                }
               }
            };

            //changes the color for the right and creates a cookie
            function setRColor(color){
                elem = 'right';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        createCookie('setRColor', color, 365);
                    }
                }
                return 1;
            }

            //changes the color for the left and creates a cookie (Ivan:Cerise; Update)
            function setLColor(color){
                elem = 'left';
                if (elem=document.getElementById(elem)) {
                    if (elem.style) {
                        elem.style.backgroundColor = color;
                        createCookie('setLColor', color, 365);
                    }
                }
                return 1;
            }

            //changes the color for the header and creates a cookie
            function setBgColor(color){
                elem = 'header';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        createCookie('setBgColor', color, 365);
                    }
                }
                return 1;
            }

            //changes the color for the footer and creates a cookie
            function setBtColor(color){
                elem = 'footer';
                if (elem=document.getElementById(elem)){
                    if (elem.style){
                        elem.style.backgroundColor = color;
                        createCookie('setBtColor', color, 365);
                    }
                }
                return 1;
            }
        </script>
</div>